  <h1>Anonymous Blog</h1>
  <p>Welcome, in this page you can create and see blog posts!</p>
  
  <a href='/posts'>See posts</a>
  <br>
  <a href='/new_entry'>Create an entry</a>
  <br>
  <a href='/search_tags'>Search by tags</a>


  
