<h3>Start typing!</h3>
<form action="/new_entry" method="post">
    Write a word:
    <br>
    <p>Title</p>
    <input type="text" name="title">
    <br>
    <p>Body</p>
    <input type="text" name="body">
    <br>
    <p>Author</p>
    <input type="text" name="author">
    <br>
    <p>Tag</p>
    <input type="text" name="tags">
    <input type="submit" value="Submit">
</form>

<a href='/'>home</a>