<h2>Do your register here</h2>

<form action="/users/sign_in" method="post">
  <br>
  <div>
    Name: <input type="text" name="fullname">
    <br>
    Email: <input type="text" name="email">
    <br>
    Password: <input type="password" name="pass">
    <br>
    <input type="submit" value="Sign in">
 </div>
</form>

<a class='button' href="/">Back home</a>