.container {
  margin: 0 auto;
  width: 750px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

.main-title {
  text-align: center;
}

#pricing {
  display: none;
}

#about {
  display: none;
}

#contact {
  display: none;
}

.feature
 {
  -webkit-column-count: 2;
  padding-bottom: 30px;
}

