  <h1>Welcome to Codeabook!</h1>
  <h2>The social network made with love from nerds to nerds.</h2>

    If you are not on our records....
    <br>
    <img src="https://thelastwordfsu.files.wordpress.com/2015/02/unnamed-2.gif" alt="Mountain View" style="width:354px;height:208px;">
    <br>
    

 
  <a href="/log_in">Log in</a>

  <a href="/new_user">Sign in</a>


  
