<br>
<form action='/users/log_in' method="post">
  <label for="email">Email</label>
  <input type="text" name="email"><br>
  <label for="email">Password</label>
  <input type="password" name="pass"><br>
  <input type="submit" value="Log in">
 </form>
<br>
<a class='button' href="/users">Back home</a>
<br>