<h2>Register here</h2>

<form action="/users/sign_in" method="post">
  <br>
  <div>
   <label for="name">Name</label>
   <br>
   <input type="text" name="fullname">
    <br>
    <label for="email">Email</label>
    <br>
    <input type="text" name="email">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="pass">
    <br>
    <input type="submit" value="Sign in">
 </div>
</form>

 <a class='button' href="/users">Back home</a>