<h3>Start typing!</h3>


<form action="/new_entry" method="post">
    Write a word:
    <br>
    <input type="text" name="title">
    <input type="text" name="body">
    <input type="text" name="author">
    <input type="text" name="bio">
    <input type="text" name="tag">
    <input type="submit" value="Search">
  </form>