  <h1>App</h1>
    <form action="/cool_url" method="post">
    <input type="text" name="input" placeholder="Escribe lo que quieras"><br>
    
    <input type="submit" value="Pícale">
  </form>

  <a href="/cool_url">Show messages</a>